/* Navbar */

.movie-app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px;
  z-index: 2;
  background-color: #1c1c1c;
}

.movie-app-navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  @media (max-width: 575px) {  
    column-gap: 30px;
    padding: 0;
  }
}

.movie-app-navbar ul li {
  font-size: 1.2rem;
  @media (max-width: 575px) {
    font-size: 0.9rem;
  }
}

.movie-app-navbar ul li a {
  color: #FFF;
}

.movie-app-navbar a.active {
  text-decoration: underline !important;
  text-underline-offset: 7px
}


/* SmartNavLink */

@media (max-width: 575px) {
  :is(.home-icon, .movies-icon, .auth-icon) {
    font-size: 1.4rem;
  }
}

.nav-link-items-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  @media (max-width: 575px) {    
    flex-direction: column;
  }
}


/* Footer */

footer {
  padding: 25px;
  text-align: center;
  font-size: 1.25rem;
  background-color: #1c1c1c;
  color: #FFF;
  @media (max-width: 575px) {
    font-size: 1rem;
  }
}


/* Movies Cards */

.movie-card {
  overflow: auto;
  height: 100% !important;
}

.movie-img-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 140%;
  cursor: pointer;
  overflow: hidden;
}

.movie-img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.movie-img-container:hover img {
  transform: scale(1.1);
}

.movie-img-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.actions-on-movie {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: #FFF;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 1;
  visibility: hidden;
}

.movie-img-container:hover .actions-on-movie {
  visibility: visible;
}

.edit-movie, .delete-movie {
  cursor: pointer;
}

.movie-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-name, .movie-rating, .movie-release-date {
  text-align: center;
}

.movie-name {
  font-size: 1.5em;
  font-weight: bold;
}

.movie-rating {
  font-size: 1em;
  margin-bottom: 10px;
}

.movie-release-date {
  font-size: 1em;
}

.btns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-card-body button {
  width: 100%;
}


/* Modals */

.the-image-modal, 
.the-video-modal, 
.the-description-modal, 
.the-edit-modal, 
.the-delete-modal, 
.the-comments-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


/* Movie Image Modal */

.the-image-modal img {
  max-height: 95vh;
  border-radius: 20px;
}


/* Movie Video Modal */

.the-video-modal .movie-trailer iframe {
  width: 150vh;
  height: 80vh;
  border-radius: 20px;
}


/* Movie Description Modal  */

.the-description-modal .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 80vh;
  height: 30vh;
  background-color: #FFF;
  border-radius: 20px;
}

.the-description-modal .content h3,
.the-description-modal .content p {
  text-align: center;
  padding: 10px;
}


/* Movie Rating Edit Modal */

.the-edit-modal .user-rating-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vh; 
  height: 40vh;
  background-color: #FFF;
  border-radius: 20px;
}

.user-rating-form-container form {
  display: flex;
  flex-direction: column;
  width: 70%; 
}

.user-rating-form-container form h3, 
.user-rating-form-container form .form-group, 
.user-rating-form-container form .form-group input {
  text-align: center;
}


/* Movie Delete Modal */

.the-delete-modal .confirm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vh; 
  height: 40vh;
  background-color: #FFF;
  border-radius: 20px;
}

.confirm-box h3, .confirm-box p {
  text-align: center;
}

.confirm-btn-group {
  display: flex;
  justify-content: center;
  width: inherit;
}

.yes-btn, .no-btn {
  width: 20%;
}


/* Movie Comments Modal */

.the-comments-modal .comments-container {
  position: relative;
  width: 50%;
  height: 70%;
  background-color: #FFF;
  border-radius: 7px;
}

.all-comments {
  height: 75%;
  overflow: auto;
}

.all-comments ul { 
  padding-left: 0;
}

.all-comments ul li {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0 15px;
  overflow-wrap: break-word;
}

.all-comments ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.comment-username {
  font-weight: bold;
  overflow-wrap: break-word;
}

.form-group-comment {
  position: absolute;
  bottom: -6%;
  width: 100%;
}

.form-group-comment input {
  padding-right: 35px;
  height: 45px;
}

.edit-comment-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.edit-comment-btn:hover {
  color: rgba(0, 0, 0, 1);
}

.post-comment-btn {
  background-color: #FFF !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
}


/* Regenerate Button */

.regenerate-col {
  display: flex;
  justify-content: center;
}

.regenerate-btn {
  width: 100%;
}


/* Authentication Page */

.auth-form-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

.auth-form-cont form {
  display: flex;
  flex-direction: column;
  width: 45%;
}


/* Filter */

.search-movies-filter {
  display: flex;
  justify-content: center;
}

.search-movies-group {
  @media (max-width: 575px) {
    width: 100%;
  }
}

.search-movies-btn, 
.sort-order-btn {
  z-index: 1 !important;
}

.sort-by-filter {
  display: flex;
  justify-content: center;
}

.sort-by-group {
  display: flex;
  @media (max-width: 575px) {
    width: 100%;
  }
}

.sort-by-dropdown {
  width: 191px; /* To make sort by group exactly equal to the search group */
  text-align: start !important;
  position: relative;
  background: none !important;
  border-color: #c2c1c1 !important;
  &::after {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  @media (max-width: 575px) {
    width: 100%;
  }
}

.sort-by-dropdown-menu {
  width: 100%;
}

/* .sort-by-label {
  padding: 6px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sort-by-select {
  width: 60%;
}

.sort-by-select .css-13cymwt-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sort-by-select .css-1n6sfyn-MenuList {
  margin-top: -16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.sort-by-select .css-1n6sfyn-MenuList > * {
  background-color: #FFF;
  color: #000;
}

.sort-by-select .css-1n6sfyn-MenuList > *:hover {
  background-color: #1c1c1c;
  color: #FFF;
} */


/* 404 Page */

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  font-size: 7em;
}