/* NAVBAR */

.movie-app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 14px;
  z-index: 3;
  background-color: #1c1c1c;
}

.movie-app-navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px;
  @media (max-width: 575px) {  
    column-gap: 30px;
    padding: 0;
  }
}

.movie-app-navbar ul li {
  font-size: 1.2rem;
  @media (max-width: 575px) {
    font-size: 0.9rem;
  }
}

.movie-app-navbar ul li a {
  color: #FFF;
}

.movie-app-navbar a.active {
  text-decoration: underline !important;
  text-underline-offset: 7px
}


/* SmartNavLink */

@media (max-width: 575px) {
  :is(.home-icon, .preferences-icon, .auth-icon) {
    font-size: 1.4rem;
  }
}

.nav-link-items-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  @media (max-width: 575px) {    
    flex-direction: column;
  }
}



/* FOOTER */

footer {
  padding: 25px;
  text-align: center;
  font-size: 1.25rem;
  background-color: #1c1c1c;
  color: #FFF;
  @media (max-width: 575px) {
    font-size: 1rem;
  }
}



/* HOME */

/* Carousel */

.movie-carousel {

  & .carousel-inner {
    height: 60vh;

    & .carousel-item {
      position: relative;
      height: 0;
      padding-top: 60vh;
      overflow: hidden;

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Movies Cards */

.movie-card {
  overflow: auto;
  height: 100% !important;
}

.movie-img-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 140%;
  cursor: pointer;
  overflow: hidden;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }

  &:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.movie-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-name, 
.movie-rating, 
.movie-release-date {
  text-align: center;
}

.movie-name {
  font-size: 1.5em;
  font-weight: bold;
}

.movie-rating {
  font-size: 1em;
  margin-bottom: 10px;
}

.movie-release-date {
  font-size: 1em;
}

.btns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .btn-gp {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  & .edit-rating-btn,
  & .del-btn {
    flex-grow: 0.49;
  }
}


/* Regenerate Button */

.regenerate-col {
  display: flex;
  justify-content: center;
}



/* MOVIES Page */


/* Filter */

.search-movies-filter {
  display: flex;
  justify-content: center;
}

.search-movies-group {
  @media (max-width: 575px) {
    width: 100%;
  }
}

.search-movies-btn, 
.sort-order-btn {
  z-index: 1 !important;
}

.sort-by-filter {
  display: flex;
  justify-content: center;
}

.sort-by-group {
  display: flex;
  @media (max-width: 575px) {
    width: 100%;
  }
}

.sort-by-dropdown {
  width: 191px; /* To make sort by group exactly equal to the search group */
  text-align: start !important;
  position: relative;
  background: none !important;
  border-color: #ced4da !important;
  &::after {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  @media (max-width: 575px) {
    width: 100%;
  }
}

.sort-by-dropdown:focus {
  box-shadow: 0 0 1px 4px rgb(136, 184, 254, 0.7);
}

.sort-by-dropdown-menu {
  width: 100%;
}



/* AUTHENTICATION (SIGN IN) Page */

.auth-form-cont {
  height: calc(100dvh - 80.8px - 80px);  /* subtracting the heights of the header and footer respectively */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.auth-form {
  max-width: 450px;
  width: 95%;
  text-align: center;
  padding: calc(1.5625vw + 30px);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-heading {
  overflow-wrap: anywhere;
}

.auth-switch-btn {
  border: none !important;
  padding: 0 !important;
  margin-left: 5px;
  margin-bottom: 4px;
  font-size: inherit !important;
  color: #000 !important;
}



/* MODALS */

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  & .close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 9px 7px 0 0;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
  }

  & .close-modal-btn:hover {
    transform: scale(1.1);
  }
}



/* Movie Image Modal */

.the-image-modal img {
  max-height: 85dvh;
  height: 140dvw;
  border-radius: 20px;
}


/* Movie Video Modal */

.the-video-modal .movie-trailer {
  display: grid;
  place-items: center;

  & iframe {
    width: 800px;
    max-width: calc(100% - 15px);
    /* 
      max-width: 800px; // this will also work for the width, as above CSS trick
      width: 90vw; // instead of vw units it can be percentage too
    */
    min-height: 185px;
    height: 50dvw;
    max-height: 375px;
    /*
      height: 500px; // this will also work for the height, as above CSS trick
      max-height: calc(100% - 50px);
    */
    border-radius: 20px;
  }
}


/* Movie Description Modal  */

.the-description-modal .content {
  max-width: 500px;
  width: 95%;
  padding: calc(1.5625vw + 30px);
  background-color: #FFF;
  border-radius: 20px;

  & h3,
  & p {
    text-align: center;
  }
}


/* Movie Rating Edit Modal */

.the-edit-modal .user-rating-form-container {
  max-width: 500px;
  width: 95%; 
  padding: calc(1.5625vw + 30px);
  background-color: #FFF;
  border-radius: 20px;
}

.user-rating-form-container form {
  & h3,
  & .form-group,
  & .form-group input {
    text-align: center;
  }
}



/* Movie Delete Modal */

.the-delete-modal .confirm-box {
  max-width: 500px;
  width: 95%; 
  padding: calc(1.5625vw + 30px);
  background-color: #FFF;
  border-radius: 20px;
}

.confirm-box h3, 
.confirm-box p {
  text-align: center;
}

.confirm-btn-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.yes-btn, 
.no-btn {
  flex-grow: 0.3;
}


/* Movie Comments Modal */

.the-comments-modal .comments-container {
  position: relative;
  max-width: 600px;
  width: 95%;
  max-height: 500px;
  height: 85dvh;
  background-color: #FFF;
  border-radius: 7px;

  & .movie-cmt-header hr {
    margin: 0;
  }

  & .movie-cmt-name {
    padding: 15px 10px;
    text-align: center;
  }
}

.all-comments {
  height: 75%;
  overflow: auto;
}

.all-comments ul { 
  padding-left: 0;
}

.all-comments ul li {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0 15px;
  overflow-wrap: break-word;
}

.all-comments ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.comment-username {
  font-weight: bold;
  overflow-wrap: break-word;
}

.form-group-comment {
  position: absolute;
  bottom: -6%;
  width: 100%;
}

.form-group-comment input {
  padding-right: 35px;
  height: 45px;
}

.edit-comment-btn {
  position: absolute;
  right: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.edit-comment-btn:hover {
  color: #000;
}

.post-comment-btn {
  background-color: #FFF !important;
  border-color: rgba(0, 0, 0, 0.2) !important;
}



/* 404 Page */

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 80.8px - 80px);

  & h1 {
    font-size: 7rem;
  }

  & p a {
    color: #000;
    text-decoration: underline !important;
    text-underline-offset: 3px
  }
}