/* General */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.master-cont {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin-top: 97px;
}

.btn-bg-color {
  background-color: #1c1c1c !important;
}