/* General */

ul {
  list-style: none;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none !important;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  padding-top: 80px;
}

.btn-bg-color {
  background-color: #1c1c1c !important;
}